/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.nazev {
    display: flex;
    font-size: 18px;
    color: white;
    padding: 0 10px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    bottom: 0;
}

.kategorie, .komentare {
    padding: 10px;
    color: white;
}

.doporucujeme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 100%;
    width: 100%;
    height: 400px;
}

.jidlo {
    background: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 50%;
    border: 1px solid white;
    position: relative;
}

.burger {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./images/burger.jpg);
    width: 100%;
    height: 50%;
    background-size: 100%;
}

.recept {
    display: flex;
    flex: 30%;
    justify-content: space-between;
}

.recepty {
    display: flex;
	flex-wrap: wrap;
    width: 100%;  
    height: 400px;
}

.asijska, .drubez, .omacky, .grilovani, .burger {
    background-size: cover;
    width: 100%;
}

.asijska {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./images/sushi.jpg);    
}

.drubez {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./images/kure.jpg); 
}

.omacky {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./images/rajcata.jpg); 
}

.grilovani {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./images/grilovani.jpg); 
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

 /* TABLET */
@media screen and (min-width: 480px) and (max-width: 860px) {
    .doporucujeme {
        flex-wrap: wrap;
        flex-direction: row;
        flex: 100%;
   }  

   .burger {
        width: 100%;
        height: 50%;
        background-size: 100%;
    }   

    .asijska, .drubez, .omacky, .grilovani {
        width: 50%;
    }

    .recepty {
        width: 100%;
   }

   .nazev {
        font-size: 22px;
   }
}


 /* PC */
@media screen and (min-width: 860px) {
    .doporucujeme {
        flex-wrap: nowrap;
    }

   .burger {
        height: 400px;
        width: 33%;
   }

   .recepty {
        width: 70%;
   }

   .asijska, .drubez, .omacky, .grilovani {
        width: 50%;
    }

   .nazev {
        font-size: 28px;
   }
}







